<!DOCTYPE html>
<html>
<head>
	<title>Newbie Card Back End</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		<div class="col-md-4" style="margin: auto; position: absolute; top: 40%; left: 0; bottom: 0; right: 0;">
			<a href="/signup" class="btn btn-primary btn-block">SignUp</a>
			<a href="/getBanks" class="btn btn-primary btn-block">Banks & Cards</a>
			<a href="/" class="btn btn-primary btn-block">Deals</a>
		</div>
	</div>
</body>
</html>
